// You can refer to this website for color naming.
// https://www.htmlcsscolor.com/hex/2E2E2E

// color palette
$colorWhite: #fff;
$colorBlack: #000;
$colorBoldText: #010101;
$colorGrey: #c0c0c0;
$colorLightGrey: #e8e8e8;
$colorDarkGrey: #b0b0b0;

// color palette
$colorSafetyOrange: #ff6000;
$colorBlackBoxShadow: rgba(0, 0, 0, 0.15);
$colorWhisper: #eeeeee;

//$colorShadow: rgba(0, 0, 0, 0.16);
//$colorNeroRGBA: rgba(33, 33, 33, 0.56);
//$colorBlueGradient: linear-gradient(101deg, #0b51cb -6%, #0e3b8b 101%);

//$verticalScrollbarIndent: 40px;

$minDesktop: 1440px; //- $verticalScrollbarIndent;

$baseFontSize: 14px;
