@import "../../styles/variables.scss";
@import "../../styles/placeholders.scss";

.header {
  @extend %wrapper;
  background: $colorWhite;
  border-bottom: 1px solid $colorBlackBoxShadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin-bottom: 20px;
  &__logo {
    height: 35px;
  }
}
